- var playerClasses = (playlistItems ? 'player active' : 'player inactive')
p(class=playerClasses)
	i(class='fa fa-step-backward fa-2x')
	i(class='fa fa-pause fa-2x')
	i(class='fa fa-play fa-2x')
	i(class='fa fa-step-forward fa-2x')
