#itemInfo
	ul
		li
			i(class='fa fa-chevron-down fa-2x')
				|   Search Details
		li
			div.suggestionInfoBox
				div
					img(src=suggestion.img_url)
				div
					p 
						| Displaying results from 
						b #{year}
					p
						| You searched for 
						b #{suggestion.title}
	
		li
			i(class='fa fa-chevron-right fa-2x')
				|   Filter Result