extends ../layout

block content
	h1 Result here.

	p.search search: !{renderData.search}
	p.result mbid: !{renderData.mbid}
	p.artist artist: !{renderData.artist}
	p.release releaseId: !{renderData.release}
