.resultRow
	.resultline
		margin-left 5px
		float left
		width 100%
	.artist
		color grey
	.title
		color black
		font-weight bold
	.type
		font-style italic

.src-type
	width 70px
	height 60px


div.singleresult
	height 220px
	width 220px
	// overflow hidden
	border 1px solid $palette-green
	img.resultImage
		width inherit
		height inherit
		z-index -1
		position absolute
		clip rect(0px, 220px, 220px, 0px)
	i.resultItemIcon
		display none
	.bottomRight
		right 0
		bottom 0
	.topLeft
		left 0
	.bottomLeft
		bottom 0

i.resultItemIcon
	display none
	position absolute
	color $palette-black
	margin 11px
	cursor pointer

div.singleresult:hover
	position relative
	img
		opacity 0.3
	i.resultItemIcon
		display block

.imageView
	img
		opacity 1
	.additionalInfo
		*
			display none

.additionalInfoView
	img
		opacity 0.1
	.additionalInfo
		padding-left 45px
		padding-top 13px
		*
			display block


div.additionalInfoView
	h3
		font-weight bold
	.resultInformation 
		*
			display block

#itemInfo
	position absolute
	top 39px
	background-color white
	min-width 460px
	border 1px solid $palette-lightblue
	border-color $palette-lightblue
	border-radius 3px 3px 0 0
	border-top 1px solid grey
	padding 10px 0px 10px 10px
	*
		color $palette-black
	li
		margin-bottom 10px
	i
		padding
	div.block
		float none
	ul
		list-style-type none
	display block
	b.highlightFont
		color $palette-darkblue
		font-weight bold

#menu.off
	#itemInfo
		display none

#menu.on
	#itemInfo
		display block

.suggestionInfoBox
	cursor default
	div
		margin 0 5px
	p
		width 490px

.menuHeading
	font-size 21pt

.default
	display block

.ajaxLoader
	margin-left auto
	margin-right auto

.loadingContainer
	display none
	padding-top 10%
	padding-left 30%
