$black-background = url('/img/blackorchid/blackorchid.png')
$white-background = url('/img/greyzz/greyzz.png')

$font-size-header = 20px
$navi-height = 35px

$font-standard = '14px/1.5 Helvetica, arial, sans-serif'

$palette-green = #7FFF24
$palette-lightblue = #00DFFC
$palette-darkblue = #08477A
$palette-white = #FEF9F0
$palette-black = #050505

body
	font-family ubuntu tahoma sans-serif
	background-image $white-background
