#header
#content
#footer
	width 100%
	float left
	

#content
	position relative
	top $navi-height

.navi
	position fixed
	height $navi-height
	background-image $black-background

.logo
	color $palette-green
	font-size $font-size-header
