#header
#content
#footer
	width 100%
	float left

#header, #footer
	*
		color $palette-white

#header
	position fixed
	height $navi-height
	background-image $black-background
	box-shadow 1px 10px 13px $box-shadow-color
	z-index 1
	.search *
		color $palette-black

.centered
	margin-left auto
	margin-right auto
	width $centered-content-width + 10px
	div
		float left

#header-navi
	width 68%
	.logo
		color $palette-green
		padding 3px 10px
		font-size $font-size-header
	.menu
		font-size 16pt
		padding 0px 10px 0px 5px
	.menu:hover
		cursor pointer
	.search
		color $palette-black
		width 60%
		background-color $palette-white
		margin 4px 0

#player-controls
	width 30%
	min-width 300px
	float left

p.player i
	margin 6px 16px 0 0

#content
	position relative
	top $navi-height
	margin-top 15px

#search-result
	width 69%

#play-list
	width 29%
	border-right: 1px solid $box-shadow-color

#footer
	position fixed
	bottom 0px
	background-image $black-background

div.singleresult
	height 200px
	width 200px
	// overflow hidden
	border 1px solid $palette-green
	h3, p
		display none
	img.resultImage
		width inherit
		height inherit
		z-index -1
		position absolute
		clip rect(0px, 200px, 200px, 0px)

div.singleresult:hover
	h3, p
		display block
	p.hide
		display none
	img
		opacity 0.5

div.src-type
	padding 12px
	img
		height 48px
		width 48px