doctype 5
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		title= title
		block css
			link(rel='stylesheet', href='/css/app.css', media='screen, projection')
			// if IE
				link(rel='stylesheet', href='/css/screen.css', media='screen, projection')

		block js
			script(src='http://localhost:35729/livereload.js')
			script(src='/components/jquery/jquery.js')
			script(src='/components/jquery-ui/ui/jquery-ui.js')
			script(src='/components/jquery-ui/ui/jquery.ui.autocomplete.js')
			script(src='/js/main.js')

	body
		#header
			.centered
				#header-navi
					.logo
						| Culture Chronicles
					.menu(alt="menu")
						&#9776;
					form(method='get', name='searchForm', action='/search')
						input(id='searchinput', class='search', name='searchinput', type='text', list='suggestionlist')
							datalist(id='suggestionlist')
								option(value='sth')
								option(value='stuff')
								option(value='asdf')
								option(value='sthjgjrz')
								option(value='ohio')
								option(value='mejej')
				#player-controls
					p
						| forward backwards play pause songtitle
		#content
			.centered
				#search-result
					block content
				#play-list
					| some text
		#footer
			.centered
				| This is Culture Chronicles <3
		
