doctype 5
html(lang='en')
	head
		meta(charset='UTF-8')
		meta(name='viewport', content='width=device-width')
		title= title
		block css
			link(rel='stylesheet', href='/css/app.css', media='screen, projection')
			link(rel='stylesheet', href='/css/select2.css', media='screen, projection')
			link(rel='stylesheet', href='/components/font-awesome/css/font-awesome.min.css', media='screen, projection')
			// if IE
				link(rel='stylesheet', href='/css/screen.css', media='screen, projection')

		block js
			script(src='http://localhost:35729/livereload.js')
			script(src='/components/jquery/jquery.js')
			script(src='/components/select2.js')
			script(src='/js/main.js')

	body
		#header
			.centered
				#header-navi
					#logo
						a(href='/', class='logo')
							| Culture Chronicles
					#menu(alt='menu', class='menu off')
						if suggestion
							include tiles/suggestionDetail
						span
							i(class='fa fa-list fa-2x')
					form(method='get', name='searchForm', id='searchForm', action='/search')
						input(id='searchinput', class='search', name='searchinput', type='text')
				#player-controls
					include tiles/playerControls
		#content
			.centered
				#search-result
					block content
				#play-list
					include tiles/playlist
		#footer
			.centered
				| This is Culture Chronicles <3
		
